In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2020년

In [2]:
df1 = pd.read_csv('../data/화성시 성연령별유동인구_2020.csv')
df1

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,lon,lat
0,202001,0.26,0.58,0.86,1.06,1.26,1.29,0.27,0.56,0.69,0.81,1.13,1.34,126.616734,37.169078
1,202001,0.25,0.56,0.83,1.05,1.18,1.23,0.27,0.56,0.62,0.81,1.11,1.17,126.616729,37.169528
2,202001,0.30,0.68,0.95,1.17,1.42,1.40,0.32,0.67,0.74,0.93,1.22,1.34,126.616724,37.169979
3,202001,0.34,0.76,1.04,1.25,1.56,1.53,0.36,0.75,0.79,1.03,1.34,1.46,126.616718,37.170430
4,202001,0.22,0.67,0.99,1.51,1.87,1.77,0.20,0.56,0.76,1.26,1.73,1.65,126.616713,37.170880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382393,202012,0.02,0.07,0.19,0.57,0.69,0.58,0.04,0.04,0.12,0.34,0.26,0.16,127.160108,37.192164
1382394,202012,0.00,0.00,0.09,0.16,0.25,0.46,0.00,0.00,0.04,0.02,0.14,0.23,127.160676,37.191264
1382395,202012,0.02,0.07,0.26,0.64,0.85,0.97,0.04,0.04,0.12,0.30,0.37,0.37,127.160674,37.191715
1382396,202012,0.00,0.05,0.14,0.37,0.48,0.42,0.00,0.04,0.07,0.21,0.19,0.11,127.161241,37.190815
1382397,202012,0.00,0.09,0.16,0.25,0.18,0.12,0.00,0.04,0.05,0.05,0.07,0.05,127.161239,37.191266

In [3]:
df2 = pd.read_csv('../data/화성시 요일별 유동인구_2020.csv')
df2

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202001,0.02,0.02,0.02,0.02,0.02,0.02,0.00,126.554998,37.061336
1,202001,6.67,4.82,9.01,5.49,6.89,21.84,18.52,126.616734,37.169078
2,202001,6.18,4.40,8.44,5.01,6.39,21.19,18.05,126.616729,37.169528
3,202001,7.03,5.26,9.66,5.84,7.80,24.72,20.29,126.616724,37.169979
4,202001,7.73,5.79,10.58,6.43,8.56,26.96,22.13,126.616718,37.170430
...,...,...,...,...,...,...,...,...,...,...
1446276,202012,3.05,3.23,2.67,2.86,3.36,3.36,2.90,127.160108,37.192164
1446277,202012,1.55,0.95,1.09,1.24,1.45,2.31,1.38,127.160676,37.191264
1446278,202012,4.22,3.74,3.43,3.73,4.38,5.26,3.90,127.160674,37.191715
1446279,202012,2.08,2.21,1.82,1.96,2.31,2.38,2.07,127.161241,37.190815
1446280,202012,1.20,1.27,1.17,1.17,1.15,0.85,0.53,127.161239,37.191266

In [4]:
df3 = pd.read_csv('../data/화성시 시간대별유동인구_2020.csv')
df3

,STD_YM,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,TMST_06,TMST_07,TMST_08,...,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23,lon,lat
0,202001,0.07,0.05,0.04,0.04,0.02,0.02,0.05,0.11,0.16,...,0.83,0.55,0.32,0.23,0.23,0.19,0.14,0.11,126.616734,37.169078
1,202001,0.05,0.04,0.04,0.02,0.02,0.02,0.05,0.09,0.14,...,0.79,0.51,0.28,0.19,0.21,0.16,0.11,0.09,126.616729,37.169528
2,202001,0.11,0.07,0.05,0.04,0.04,0.04,0.09,0.16,0.21,...,0.88,0.58,0.37,0.28,0.30,0.25,0.18,0.16,126.616724,37.169979
3,202001,0.11,0.09,0.07,0.05,0.04,0.05,0.09,0.18,0.23,...,0.97,0.64,0.41,0.32,0.32,0.26,0.19,0.18,126.616718,37.170430
4,202001,0.04,0.04,0.02,0.02,0.00,0.02,0.04,0.09,0.14,...,1.18,0.65,0.35,0.18,0.18,0.16,0.12,0.07,126.616713,37.170880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1368121,202012,0.00,0.02,0.00,0.02,0.00,0.02,0.09,0.21,0.16,...,0.19,0.07,0.02,0.02,0.02,0.02,0.00,0.00,127.160108,37.192164
1368122,202012,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.02,...,0.09,0.05,0.09,0.05,0.02,0.04,0.00,0.00,127.160676,37.191264
1368123,202012,0.00,0.00,0.00,0.02,0.00,0.02,0.07,0.19,0.14,...,0.26,0.11,0.11,0.05,0.04,0.04,0.00,0.02,127.160674,37.191715
1368124,202012,0.00,0.00,0.00,0.00,0.00,0.02,0.05,0.14,0.11,...,0.14,0.04,0.02,0.00,0.02,0.02,0.00,0.00,127.161241,37.190815
1368125,202012,0.00,0.00,0.00,0.00,0.00,0.00,0.02,0.09,0.11,...,0.07,0.07,0.05,0.05,0.04,0.02,0.02,0.02,127.161239,37.191266

In [5]:
# df1, df2, df3에서 위도, 경도가 일치하는지 확인
common_df1_df2 = pd.merge(df1, df2, on=['lat', 'lon', 'STD_YM'], how='inner')
# common_df1_df3 = pd.merge(df1[['lat', 'lon']], df3[['lat', 'lon']], on=['lat', 'lon'], how='inner')
# common_df2_df3 = pd.merge(df2[['lat', 'lon']], df3[['lat', 'lon']], on=['lat', 'lon'], how='inner')

# 결과 출력
print("df1과 df2의 겹치는 위도, 경도 개수:", len(common_df1_df2))
# print("df1과 df3의 겹치는 위도, 경도 개수:", len(common_df1_df3))
# print("df2와 df3의 겹치는 위도, 경도 개수:", len(common_df2_df3))

df1과 df2의 겹치는 위도, 경도 개수: 1382398

In [6]:
common_df1_df2

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,w_60g_pop,lon,lat,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop
0,202001,0.26,0.58,0.86,1.06,1.26,1.29,0.27,0.56,0.69,...,1.34,126.616734,37.169078,6.67,4.82,9.01,5.49,6.89,21.84,18.52
1,202001,0.25,0.56,0.83,1.05,1.18,1.23,0.27,0.56,0.62,...,1.17,126.616729,37.169528,6.18,4.40,8.44,5.01,6.39,21.19,18.05
2,202001,0.30,0.68,0.95,1.17,1.42,1.40,0.32,0.67,0.74,...,1.34,126.616724,37.169979,7.03,5.26,9.66,5.84,7.80,24.72,20.29
3,202001,0.34,0.76,1.04,1.25,1.56,1.53,0.36,0.75,0.79,...,1.46,126.616718,37.170430,7.73,5.79,10.58,6.43,8.56,26.96,22.13
4,202001,0.22,0.67,0.99,1.51,1.87,1.77,0.20,0.56,0.76,...,1.65,126.616713,37.170880,8.83,6.34,11.78,6.34,8.16,28.31,26.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382393,202012,0.02,0.07,0.19,0.57,0.69,0.58,0.04,0.04,0.12,...,0.16,127.160108,37.192164,3.05,3.23,2.67,2.86,3.36,3.36,2.90
1382394,202012,0.00,0.00,0.09,0.16,0.25,0.46,0.00,0.00,0.04,...,0.23,127.160676,37.191264,1.55,0.95,1.09,1.24,1.45,2.31,1.38
1382395,202012,0.02,0.07,0.26,0.64,0.85,0.97,0.04,0.04,0.12,...,0.37,127.160674,37.191715,4.22,3.74,3.43,3.73,4.38,5.26,3.90
1382396,202012,0.00,0.05,0.14,0.37,0.48,0.42,0.00,0.04,0.07,...,0.11,127.161241,37.190815,2.08,2.21,1.82,1.96,2.31,2.38,2.07
1382397,202012,0.00,0.09,0.16,0.25,0.18,0.12,0.00,0.04,0.05,...,0.05,127.161239,37.191266,1.20,1.27,1.17,1.17,1.15,0.85,0.53

In [7]:
# df1, df2, df3에서 위도, 경도가 일치하는지 확인
common_df1_df2_df3 = pd.merge(common_df1_df2, df3, on=['lat', 'lon', 'STD_YM'], how='inner')

# 결과 출력
print("df1, df2, df3의 겹치는 위도, 경도 개수:", len(common_df1_df2_df3))

df1, df2, df3의 겹치는 위도, 경도 개수: 1366724

In [8]:
common_df1_df2_df3

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,202001,0.26,0.58,0.86,1.06,1.26,1.29,0.27,0.56,0.69,...,1.32,1.13,0.83,0.55,0.32,0.23,0.23,0.19,0.14,0.11
1,202001,0.25,0.56,0.83,1.05,1.18,1.23,0.27,0.56,0.62,...,1.29,1.09,0.79,0.51,0.28,0.19,0.21,0.16,0.11,0.09
2,202001,0.30,0.68,0.95,1.17,1.42,1.40,0.32,0.67,0.74,...,1.38,1.18,0.88,0.58,0.37,0.28,0.30,0.25,0.18,0.16
3,202001,0.34,0.76,1.04,1.25,1.56,1.53,0.36,0.75,0.79,...,1.52,1.29,0.97,0.64,0.41,0.32,0.32,0.26,0.19,0.18
4,202001,0.22,0.67,0.99,1.51,1.87,1.77,0.20,0.56,0.76,...,1.82,1.62,1.18,0.65,0.35,0.18,0.18,0.16,0.12,0.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1366719,202012,0.02,0.07,0.19,0.57,0.69,0.58,0.04,0.04,0.12,...,0.28,0.28,0.19,0.07,0.02,0.02,0.02,0.02,0.00,0.00
1366720,202012,0.00,0.00,0.09,0.16,0.25,0.46,0.00,0.00,0.04,...,0.18,0.12,0.09,0.05,0.09,0.05,0.02,0.04,0.00,0.00
1366721,202012,0.02,0.07,0.26,0.64,0.85,0.97,0.04,0.04,0.12,...,0.42,0.37,0.26,0.11,0.11,0.05,0.04,0.04,0.00,0.02
1366722,202012,0.00,0.05,0.14,0.37,0.48,0.42,0.00,0.04,0.07,...,0.19,0.19,0.14,0.04,0.02,0.00,0.02,0.02,0.00,0.00
1366723,202012,0.00,0.09,0.16,0.25,0.18,0.12,0.00,0.04,0.05,...,0.07,0.07,0.07,0.07,0.05,0.05,0.04,0.02,0.02,0.02

In [9]:
common_df1_df2_df3.to_csv('../data/2020년 유동인구.csv', index=False)

### 2021년

In [10]:
df4 = pd.read_csv('../data/화성시 성연령별유동인구_2021.csv')
df4

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,lon,lat
0,202101,0.76,2.83,7.73,12.48,13.07,9.69,1.06,1.64,2.81,4.93,5.35,4.50,126.971339,37.198232
1,202101,0.97,3.88,10.77,17.36,18.15,13.38,1.41,2.31,3.92,6.89,7.45,6.13,126.971335,37.198683
2,202101,1.25,3.92,10.29,16.21,16.53,13.81,1.38,2.54,3.62,7.06,7.13,7.63,126.971902,37.198235
3,202101,0.37,0.79,2.26,3.96,4.57,4.11,0.53,0.58,1.04,2.01,2.56,2.51,126.971896,37.199136
4,202101,0.76,2.74,7.19,11.05,10.90,8.55,0.85,1.55,2.49,4.82,4.33,4.40,126.972465,37.198237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1866698,202112,17.27,8.41,25.75,32.19,13.77,9.87,19.28,10.17,29.56,33.44,12.59,9.57,127.111036,37.203731
1866699,202112,9.66,4.04,11.64,15.38,6.64,4.91,10.58,4.86,14.59,17.29,6.20,5.39,127.111034,37.204182
1866700,202112,2.35,0.88,2.58,3.48,1.43,1.06,2.51,1.06,3.28,4.01,1.41,1.17,127.111031,37.204633
1866701,202112,4.82,1.89,4.82,6.52,2.75,2.21,5.16,2.38,6.57,7.98,2.97,2.44,127.111029,37.205083
1866702,202112,3.78,2.45,5.62,6.02,2.95,2.37,4.27,2.90,5.65,5.93,2.68,2.14,127.111027,37.205534

In [11]:
df5 = pd.read_csv('../data/화성시 요일별 유동인구_2021.csv')
df5

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202101,66.18,69.47,64.68,69.18,71.37,71.69,55.76,126.971339,37.198232
1,202101,89.67,96.91,99.10,94.44,97.10,97.31,75.75,126.971335,37.198683
2,202101,90.66,94.67,88.40,92.86,95.87,98.43,79.25,126.971902,37.198235
3,202101,23.86,25.04,25.20,24.35,25.06,27.81,25.59,126.971896,37.199136
4,202101,62.60,65.71,62.40,64.84,65.33,54.99,44.73,126.972465,37.198237
...,...,...,...,...,...,...,...,...,...,...
2006739,202112,171.34,173.74,215.55,222.65,268.67,252.49,238.23,127.111036,37.203731
2006740,202112,97.61,98.78,173.69,157.76,162.47,26.91,21.07,127.111034,37.204182
2006741,202112,21.93,22.11,41.92,36.98,32.99,6.76,5.17,127.111031,37.204633
2006742,202112,48.28,48.28,78.10,71.13,67.77,13.23,10.40,127.111029,37.205083
2006743,202112,47.15,47.16,53.86,55.48,69.04,23.93,20.84,127.111027,37.205534

In [12]:
df6 = pd.read_csv('../data/화성시 시간대별유동인구_2021.csv')
df6

,STD_YM,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,TMST_06,TMST_07,TMST_08,...,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23,lon,lat
0,202101,0.65,0.65,0.55,0.53,0.62,1.06,2.01,3.43,3.67,...,4.89,4.79,4.70,3.00,2.24,1.73,1.15,0.79,126.971339,37.198232
1,202101,0.87,0.83,0.69,0.65,0.78,1.32,2.65,4.54,4.87,...,7.22,7.36,7.01,4.29,2.90,2.28,1.45,1.04,126.971335,37.198683
2,202101,1.29,1.22,1.08,1.02,1.15,1.66,2.88,4.45,4.79,...,6.55,6.20,5.92,4.03,3.09,2.51,1.75,1.47,126.971902,37.198235
3,202101,0.34,0.32,0.28,0.26,0.28,0.35,0.53,1.04,1.31,...,1.89,1.78,1.82,1.13,0.81,0.65,0.44,0.39,126.971896,37.199136
4,202101,0.78,0.76,0.64,0.62,0.69,1.04,1.82,2.95,3.13,...,4.40,4.24,4.08,2.70,2.03,1.62,1.11,0.87,126.972465,37.198237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829437,202112,6.85,5.79,3.80,3.74,2.40,2.83,5.03,9.55,9.68,...,13.08,14.13,13.88,14.76,13.23,12.08,10.45,9.18,127.111036,37.203731
1829438,202112,3.39,3.50,1.80,1.85,1.18,1.41,2.47,4.49,5.60,...,6.16,6.69,6.85,7.12,6.57,6.20,5.56,4.84,127.111034,37.204182
1829439,202112,0.74,0.87,0.46,0.48,0.30,0.35,0.58,1.01,1.27,...,1.39,1.48,1.54,1.59,1.45,1.38,1.25,1.02,127.111031,37.204633
1829440,202112,1.43,1.54,0.74,0.65,0.49,0.57,0.95,1.94,2.40,...,3.04,3.34,3.37,3.53,3.13,2.83,2.42,1.94,127.111029,37.205083
1829441,202112,0.83,0.72,0.46,0.42,0.32,0.39,0.81,1.57,1.98,...,3.28,3.58,3.60,3.55,2.90,2.24,1.70,1.22,127.111027,37.205534

In [13]:
# df4, df5에서 위도, 경도가 일치하는지 확인
common_df4_df5 = pd.merge(df4, df5, on=['lat', 'lon', 'STD_YM'], how='inner')

# 결과 출력
print("df4과 df5의 겹치는 위도, 경도 개수:", len(common_df4_df5))

df4과 df5의 겹치는 위도, 경도 개수: 1866703

In [14]:
common_df4_df5

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,w_60g_pop,lon,lat,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop
0,202101,0.76,2.83,7.73,12.48,13.07,9.69,1.06,1.64,2.81,...,4.50,126.971339,37.198232,66.18,69.47,64.68,69.18,71.37,71.69,55.76
1,202101,0.97,3.88,10.77,17.36,18.15,13.38,1.41,2.31,3.92,...,6.13,126.971335,37.198683,89.67,96.91,99.10,94.44,97.10,97.31,75.75
2,202101,1.25,3.92,10.29,16.21,16.53,13.81,1.38,2.54,3.62,...,7.63,126.971902,37.198235,90.66,94.67,88.40,92.86,95.87,98.43,79.25
3,202101,0.37,0.79,2.26,3.96,4.57,4.11,0.53,0.58,1.04,...,2.51,126.971896,37.199136,23.86,25.04,25.20,24.35,25.06,27.81,25.59
4,202101,0.76,2.74,7.19,11.05,10.90,8.55,0.85,1.55,2.49,...,4.40,126.972465,37.198237,62.60,65.71,62.40,64.84,65.33,54.99,44.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1866698,202112,17.27,8.41,25.75,32.19,13.77,9.87,19.28,10.17,29.56,...,9.57,127.111036,37.203731,171.34,173.74,215.55,222.65,268.67,252.49,238.23
1866699,202112,9.66,4.04,11.64,15.38,6.64,4.91,10.58,4.86,14.59,...,5.39,127.111034,37.204182,97.61,98.78,173.69,157.76,162.47,26.91,21.07
1866700,202112,2.35,0.88,2.58,3.48,1.43,1.06,2.51,1.06,3.28,...,1.17,127.111031,37.204633,21.93,22.11,41.92,36.98,32.99,6.76,5.17
1866701,202112,4.82,1.89,4.82,6.52,2.75,2.21,5.16,2.38,6.57,...,2.44,127.111029,37.205083,48.28,48.28,78.10,71.13,67.77,13.23,10.40
1866702,202112,3.78,2.45,5.62,6.02,2.95,2.37,4.27,2.90,5.65,...,2.14,127.111027,37.205534,47.15,47.16,53.86,55.48,69.04,23.93,20.84

In [15]:
# df4, df5, df6에서 위도, 경도가 일치하는지 확인
common_df4_df5_df6 = pd.merge(common_df4_df5, df6, on=['lat', 'lon', 'STD_YM'], how='inner')

# 결과 출력
print("df4, df5, df6의 겹치는 위도, 경도 개수:", len(common_df4_df5_df6))

df4, df5, df6의 겹치는 위도, 경도 개수: 1826480

In [16]:
common_df4_df5_df6

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,...,TMST_14,TMST_15,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23
0,202101,0.76,2.83,7.73,12.48,13.07,9.69,1.06,1.64,2.81,...,4.87,4.82,4.89,4.79,4.70,3.00,2.24,1.73,1.15,0.79
1,202101,0.97,3.88,10.77,17.36,18.15,13.38,1.41,2.31,3.92,...,6.80,7.03,7.22,7.36,7.01,4.29,2.90,2.28,1.45,1.04
2,202101,1.25,3.92,10.29,16.21,16.53,13.81,1.38,2.54,3.62,...,6.43,6.43,6.55,6.20,5.92,4.03,3.09,2.51,1.75,1.47
3,202101,0.37,0.79,2.26,3.96,4.57,4.11,0.53,0.58,1.04,...,2.03,1.98,1.89,1.78,1.82,1.13,0.81,0.65,0.44,0.39
4,202101,0.76,2.74,7.19,11.05,10.90,8.55,0.85,1.55,2.49,...,4.22,4.27,4.40,4.24,4.08,2.70,2.03,1.62,1.11,0.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1826475,202112,17.27,8.41,25.75,32.19,13.77,9.87,19.28,10.17,29.56,...,11.18,11.88,13.08,14.13,13.88,14.76,13.23,12.08,10.45,9.18
1826476,202112,9.66,4.04,11.64,15.38,6.64,4.91,10.58,4.86,14.59,...,5.32,5.62,6.16,6.69,6.85,7.12,6.57,6.20,5.56,4.84
1826477,202112,2.35,0.88,2.58,3.48,1.43,1.06,2.51,1.06,3.28,...,1.20,1.25,1.39,1.48,1.54,1.59,1.45,1.38,1.25,1.02
1826478,202112,4.82,1.89,4.82,6.52,2.75,2.21,5.16,2.38,6.57,...,2.53,2.70,3.04,3.34,3.37,3.53,3.13,2.83,2.42,1.94
1826479,202112,3.78,2.45,5.62,6.02,2.95,2.37,4.27,2.90,5.65,...,2.70,2.95,3.28,3.58,3.60,3.55,2.90,2.24,1.70,1.22

In [17]:
common_df4_df5_df6.to_csv('../data/2021년 유동인구.csv', index=False)

### 2022년

In [18]:
df7 = pd.read_csv('../data/화성시 성연령별유동인구_2022.csv')
df7

,STD_YM,m_10g_pop,m_20g_pop,m_30g_pop,m_40g_pop,m_50g_pop,m_60g_pop,w_10g_pop,w_20g_pop,w_30g_pop,w_40g_pop,w_50g_pop,w_60g_pop,lon,lat
0,202201,0.67,1.70,3.88,6.46,6.69,5.24,0.71,1.06,1.59,3.13,3.00,2.75,126.971339,37.198232
1,202201,0.95,2.54,6.02,10.12,10.68,8.09,0.99,1.55,2.51,4.68,4.59,3.99,126.971335,37.198683
2,202201,0.94,2.12,4.64,8.21,8.48,7.72,1.02,1.47,1.78,4.50,4.34,4.61,126.971902,37.198235
3,202201,0.09,0.37,0.65,0.94,0.92,0.85,0.11,0.28,0.26,0.53,0.64,0.64,126.971899,37.198686
4,202201,0.41,0.65,1.32,2.22,2.70,2.63,0.48,0.49,0.69,1.43,1.52,1.85,126.971896,37.199136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020018,202212,33.82,11.69,32.08,49.94,24.28,16.35,36.76,12.73,39.25,59.17,21.30,17.45,127.111036,37.203731
2020019,202212,7.06,2.07,5.19,8.48,4.04,2.86,7.80,2.22,6.66,10.86,3.76,3.00,127.111034,37.204182
2020020,202212,2.00,0.67,1.91,2.75,1.31,0.94,2.12,0.71,2.26,3.21,1.17,1.06,127.111031,37.204633
2020021,202212,7.72,5.42,3.55,5.19,4.70,1.94,5.14,1.66,4.43,6.45,4.08,1.94,127.111029,37.205083
2020022,202212,8.79,2.81,6.34,9.04,4.43,3.28,9.66,3.14,7.54,11.20,4.33,3.51,127.111027,37.205534

In [19]:
df8 = pd.read_csv('../data/화성시 요일별 유동인구_2022.csv')
df8

,STD_YM,mon_pop,tue_pop,wed_pop,thu_pop,fri_pop,sat_pop,sun_pop,lon,lat
0,202201,35.46,36.18,36.39,37.44,39.84,38.90,34.49,126.971339,37.198232
1,202201,54.18,54.72,55.41,56.89,62.02,61.86,52.53,126.971335,37.198683
2,202201,48.15,49.39,49.39,50.33,52.23,52.71,47.24,126.971902,37.198235
3,202201,5.93,5.65,5.76,6.02,5.86,7.40,6.92,126.971899,37.198686
4,202201,15.68,14.99,15.13,15.80,15.89,18.79,17.76,126.971896,37.199136
...,...,...,...,...,...,...,...,...,...,...
2195486,202212,354.77,350.11,357.52,354.63,371.21,353.04,338.98,127.111036,37.203731
2195487,202212,85.15,84.49,85.78,84.95,88.86,10.52,9.99,127.111034,37.204182
2195488,202212,26.84,26.54,27.05,26.91,28.08,3.11,3.00,127.111031,37.204633
2195489,202212,63.50,63.87,69.17,64.05,72.03,17.16,16.37,127.111029,37.205083
2195490,202212,88.93,89.07,91.73,90.20,96.22,33.36,29.63,127.111027,37.205534

In [20]:
df9 = pd.read_csv('../data/화성시 시간대별유동인구_2022.csv')
df9

,STD_YM,TMST_00,TMST_01,TMST_02,TMST_03,TMST_04,TMST_05,TMST_06,TMST_07,TMST_08,...,TMST_16,TMST_17,TMST_18,TMST_19,TMST_20,TMST_21,TMST_22,TMST_23,lon,lat
0,202201,0.41,0.37,0.28,0.26,0.34,0.60,1.27,1.68,1.91,...,2.54,2.63,2.42,1.75,1.34,1.13,0.72,0.55,126.971339,37.198232
1,202201,0.51,0.46,0.35,0.34,0.42,0.76,1.62,2.72,3.18,...,4.17,4.40,3.80,2.31,1.66,1.41,0.92,0.69,126.971335,37.198683
2,202201,0.78,0.72,0.62,0.58,0.65,0.99,1.75,2.26,2.61,...,3.18,3.30,3.07,2.26,1.82,1.54,1.06,0.94,126.971902,37.198235
3,202201,0.09,0.07,0.05,0.04,0.05,0.07,0.14,0.21,0.26,...,0.48,0.42,0.39,0.26,0.21,0.14,0.11,0.09,126.971899,37.198686
4,202201,0.26,0.25,0.21,0.19,0.21,0.25,0.39,0.65,0.79,...,1.13,1.08,1.01,0.74,0.57,0.48,0.34,0.30,126.971896,37.199136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1971105,202212,7.63,5.76,5.07,2.72,2.53,6.07,6.90,19.62,18.38,...,21.14,23.38,24.28,23.56,21.14,19.83,18.21,13.17,127.111036,37.203731
1971106,202212,1.39,1.04,0.94,0.55,0.53,1.29,1.41,3.27,3.78,...,3.81,4.15,4.15,4.20,3.74,3.50,3.27,2.42,127.111034,37.204182
1971107,202212,0.67,0.53,0.62,0.25,0.23,0.57,0.64,1.08,1.09,...,1.04,1.15,1.18,1.18,1.11,1.04,0.97,0.90,127.111031,37.204633
1971108,202212,1.29,1.39,1.84,0.94,0.65,1.43,1.45,2.12,2.51,...,2.95,3.53,3.80,3.39,2.91,2.86,2.33,1.52,127.111029,37.205083
1971109,202212,1.13,0.83,0.79,0.42,0.39,1.02,1.11,3.27,3.88,...,4.91,5.39,5.42,5.33,4.68,4.10,3.50,2.28,127.111027,37.205534

In [21]:
# df7, df8에서 위도, 경도가 일치하는지 확인
common_df7_df8 = pd.merge(df7, df8, on=['lat', 'lon', 'STD_YM'], how='inner')

# 결과 출력
print("df7과 df8의 겹치는 위도, 경도 개수:", len(common_df7_df8))

df7과 df8의 겹치는 위도, 경도 개수: 2020023

In [22]:
# df4, df5, df6에서 위도, 경도가 일치하는지 확인
common_df7_df8_df9 = pd.merge(common_df7_df8, df9, on=['lat', 'lon', 'STD_YM'], how='inner')

# 결과 출력
print("df7, df8, df9의 겹치는 위도, 경도 개수:", len(common_df7_df8_df9))

df7, df8, df9의 겹치는 위도, 경도 개수: 1968113

In [23]:
common_df7_df8_df9.to_csv('../data/2022년 유동인구.csv', index=False)